.jumbotron {
    background-color: rgb(202, 202, 202); 
    color: black;
    height: 15%;
    padding-top: 10px;
    padding-bottom: 50px;
    border-radius: 1%;
}
/* Title Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.title {
    font-family: 'Open Sans', sans-serif;
}
.subtitle {
    font-family: 'Open Sans', sans-serif;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button-abt {
    background-color: rgb(139, 218, 201); 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.abtInfo {
    padding-left: 10px;
}
.column {
    float: left;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    height: 100%;
}

.left {
    width: 25%;
}
.right {
    width: 22%;
}

.middle {
    width: 50%;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tab-right {
    float: right;
}